# Rust
/target

# WASM pkg
**/pkg

# Node
node_modules
dist

# Vite
.vite

# OS
.DS_Store

# COPC sample
samples/local/*
apps/viewer-web/public/samples/*
apps/viewer-web/public/laz-perf.wasm
apps/viewer-web/public/wasm/*
